{
  "extends": ["vtex", "plugin:jquery/slim", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "jquery": true,
    "browser": true
  },
  "globals": {
    "metrics": true,
    "vtexjs": "readonly",
    "$": "readonly"
  },
  "plugins": ["@babel", "jquery", "@typescript-eslint"],
  "overrides": [
    {
      "files": ["node/build/react/**/*"],
      "globals": {
        "__RUNTIME__": true,
        "window": true
      }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }]
      }
    },
    {
      "files": ["webpack.config.js"],
      "parserOptions": {
        "project": null
      }
    }
  ]
}
