{
  "extends": ["vtex", "plugin:jquery/slim"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "jquery": true,
    "browser": true
  },
  "globals": {
    "metrics": true,
    "vtexjs": "readonly",
    "$": "readonly"
  },
  "plugins": ["@babel", "jquery"],
  "overrides": [
    {
      "files": ["node/build/react/**/*"],
      "globals": {
        "__RUNTIME__": true,
        "window": true
      }
    }
  ]
}
